# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# ML artifacts
*.pkl
*.joblib
*.onnx

# Local datasets
data/raw/*
data/processed/*

# Model files
models/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python tooling
.pytest_cache/
.ruff_cache/
.mypy_cache/
